<h1>Ideas</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Cast</th>
    <th>Sum</th>
    <th></th>
    <th></th>
    
    
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.name %></td>
    <td><%= idea.description %></td>
    <td><%= idea.votes.count %></td>
    <td><%= idea.votes.sum(:score) %></td>
    <td>
      <%= link_to 'Vote Up', vote_idea_path(idea, up: true),  method: :post %>
    </td>
    <td>
      <%= link_to 'Vote Down', vote_idea_path(idea, up: false), method: :post %>
    </td>
    <td><%= link_to 'More info', idea %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Idea', new_idea_path %>
